:root {
  --title-text-color: #212121;
  --primer-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f4fa;
  --color-white: #ffffff;
  --color-fons: #2f303a;
}

body {
  color: var(--title-text-color);
  background-color: var(--color-white);
  font-family: Roboto, sans-serif;
}

body,
h1,
h2,
h3,
p,
ul[class] {
  margin-bottom: 0;
  margin-top: 0;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid blue;
}

/*header*/

.container.header {
  display: flex;
}

.link.logo {
  display: block;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.logo-web {
  color: var(--accent-color);

  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #000000;

  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*сайтовая навигация*/

.header .link,
.footer .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  margin-right: 331px;
  padding-left: 0px;
}

.list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-li:not(:last-child) {
  margin-right: 50px;
}

.link.portfolio {
  color: var(--accent-color);
}

.link.studio {
  color: var(--accent-color);
}

.header-contact {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.header-contact .link {
  color: var(--primer-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--accent-color);
}

/*герой*/

.section {
  padding: 94px 20px;
}

.section.hero {
  background-color: var(--color-fons);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

/*описание преимуществ*/

.section.main {
  padding-bottom: 0px;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section-text {
  color: var(--primer-text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*секций занятий и сотрудников*/

.section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-position {
  color: var(--primer-text-color);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section.team {
  background-color: var(--primary-bg-color);
}

/*кнопки*/

.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  display: inline-block;
  min-width: 26px;

  cursor: pointer;
  border-radius: 4px;
  border: 0px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
}

.hero-button {
  color: var(--color-white);
  background-color: var(--accent-color);
  display: inline-block;
  min-width: 136px;

  cursor: pointer;
  border-radius: 4px;
  border: 0px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

/*footer*/

.footer {
  background-color: var(--color-fons);
}

.footer-addres {
  color: var(--color-white);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link {
  color: rgb(255, 255, 255, 60%);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-studio-footer {
  color: var(--color-white);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-adres:hover,
.footer-addres:focus,
.foter-link:focus,
.footer-link:hover {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.footer > .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*portfolio*/

.button.last {
  margin-bottom: 50px;
}

.projects-name {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-description {
  color: var(--primer-text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects-link {
  text-decoration: none;
}
